
<%@user=User.find_by(id: cookies[:uid])%>
<%if @user!=nil%>
<%= @user.name%><br>
<%= link_to "sign out", signout_path%><br>

<p>OUR SERVICE PROVIDES A LIST OF RESTAURANTS WITHIN THE AREAS YOU SEARCH AND RADIUS(optional) YOU SPECIFY</p>
<%= form_tag restaurants_path, id: "resto-search", method: :get do %>
<p>
  <%= text_field_tag "query", nil, list: "list", placeholder: "Search area" %><br>
  <%= number_field_tag :distance, params[:distance], placeholder: "distance, in meters" %>
  <datalist id="list">
    
  </datalist>
  <%= submit_tag "Search", :name => nil %>
</p>
<%= link_to "Save a town/city for easy future search", locations_new_path%><br>
<%= link_to "Search thru your shortlisted restaurants", shortlists_path%>
<%end%>
<%else%>
<%= link_to "sign up", signup_path %><br>
<%= link_to "sign in", signin_path %><br>
<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<%end%>

<script>
$("#resto-search").on("keyup", function(){
  autocomplete()
});

function autocomplete(){
  $.ajax({
    url: '/search',
    type: 'POST',
    data: $("#resto-search").serialize(), //takes the form data and authenticity token and converts it into a standard URL
    dataType: 'json', //specify what type of data you're expecting back from the servers
    error: function(request, status, error) {
    	alert(request.responseText);
        console.log("Something went wrong");
    },
    success: function(data) {
      	let list = $("#list");	
      $("#list").html("");
      data.forEach(function(element) {
        var option = document.createElement("option");
        option.value = element.name;
        // append option to list
        $("#list").append(option);
      });
    }
  });
}
</script>